* {
    margin: 0;
    padding: 0;
    font-size: 100%;
}

// BG colors

$body-bg: hsl(217, 54%, 11%);
$cont-bg: hsl(216, 50%, 16%);
$line-col: hsl(215, 32%, 27%);

// Font family colors

$eth-col: hsl(178, 100%, 50%);
$days-col: hsl(215, 51%, 70%);
