@import 'config';

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
}

.container {
    margin: 50px 10px;
    width: 400px;
    background-color: $cont-bg;
    padding: 30px;
    border-radius: 20px;
}

main {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 10px 0;
    margin-top: 10px;
}

.about {

    display: flex;
    flex-direction: column;
    row-gap: 13px;

    .name {
        color: white;
        font-size: 1.7rem;
        font-weight: 600;
        cursor: pointer;

        &:hover {
            color: $eth-col;
            transition: .3s ease;
        }
    }

    &-para {
        font-size: 1.42rem;
        color: $days-col;
        font-weight: 300;
        line-height: 28px;
    }

}

.price-and-time {

    padding: 30px 0;

    display: flex;
    justify-content: space-between;
    color: $eth-col;
    border-bottom: 1px solid $days-col;

    .price {
        display: flex;
        column-gap: 9px;
        font-size: 1.2rem;
    }

    .time {
        width: 100px;
        display: flex;
        color: $days-col;
    }

}

.avatar {

    display: flex;
    align-items: center;
    column-gap: 15px;
    margin-top: 10px;

    img {
        width: 42px;
        border-radius: 100%;
        border: 2px solid white;
    }

    .name-col {
        color: white;
        cursor: pointer;

        &:hover {
            color: $eth-col;
            transition: .3s ease;
        }
    }

    .avt-txt {
        color: $days-col;
        font-weight: 400;
        font-size: 1.2rem;
    }

}

.eq-img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.eye {
    position: absolute;
    top: 42.57%;
    left: 44.65%;
    opacity: 0;
}

.img-container {
    position: relative;
    background-color: $eth-col;
    border-radius: 20px;
    cursor: pointer;
    &:hover{
        .eye {
            opacity: 1;
        }

        .eq-img {
            transition: .3s ease;
            opacity: .5;
        }

    }
}

















// .img-container {
//     position: relative;
//     border-radius: 20px;
//     &:hover .eye{
//         opacity: 1;
//     }
// }

// .eye {
//     position: absolute;
//     top: 45%;
//     left: 45%;
//     opacity: 0;

    
// }
