* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// COLORS

$violet : hsl(263, 55%, 52%);
$v-dark-gblue : hsl(217, 19%, 35%);
$v-dark-bblue : hsl(219, 29%, 14%);


$light-gray : hsl(0, 0%, 81%);
$light-grayish-blue : hsl(210, 46%, 95%);


// FONT 

$font : 'Barlow Semi Condensed', sans-serif;


// 